{% extends 'base.html.twig' %}
{% block title %}Buy{% endblock %}

{% block body %}
<div>
<form action="{{path('buy')}}" , method="post">
<table class="table">
  <tr>
    <td>Produit</td>
    <td>Quantité</td>
  </tr>
  {% for product in products %}
    <tr>
      <td>{{product.name}}</td>
      <td><input name="{{product.id}}" type="number" min="0" max="10"></td>
    </tr>
  {% endfor %}
</table>
<input type="submit" value="Acheter">
</form>
{% endblock %}
