{% extends 'base.html.twig' %}

{% block title %}Fidelity{% endblock %}

{% block body %}
<form action="{{path('fidelity')}}" method="post">
  <label for="users">Choisissez l'utilisateur pour qui vous voulez trouver sa fidelité : </label>
  <select  name="user">
  {% for u in users %}
    <option value="{{u.id}}">{{u.name}}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Chercher ! ">
</form>
<div>
<table class="table">
  <tr>
    <td>Periode</td>
    <td>Points</td>
    <td>Montant</td>
  </tr>
  {% for fidelite in fidelities %}
    <tr>
      <td>Period {{ loop.index }}</td>
      <td>{{fidelite.points}}</td>
      <td>{{fidelite.amount}}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
