<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="alert alert-success" role="alert">
      {{ app.session.get('user_name') == "" ? 'Bonjour, Merci dentrer votre nom ' : 'Bonjour'}} {{app.session.get('user_name')}}
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{path('user')}}">Je m'inscris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('buy')}}">Acheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('fidelity')}}">Fidélité</a>
      </li>
    </ul>
        {% block body %}{% endblock %}
    </body>
</html>
